* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.55;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

p,
h1,
h2,
h3,
h5,
h6,
label,
button {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1240px;
  min-width: 320px;
  margin: 0 auto;
}

#nifty {
  background: linear-gradient(108.3deg, #fdf9fa 7.99%, rgba(204, 240, 235, 0.25) 58.21%);
  padding: 75px 50px;
  margin: 60px 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#nifty .nifty {
  display: grid;
  grid-template-columns: 460px 560px;
  grid-column-gap: 120px;
}

#nifty_left .head {
  margin-bottom: 30px;
}
#nifty_left .head h1 {
  font-size: 35px;
  margin-bottom: 5px;
}
#nifty_left .head p {
  font-size: 17px;
  color: #020202;
}

#ring .ring {
  height: 560px;
  width: 560px;
  background: none;
  border: 1px dashed #303030;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#ring .ring .brand_ring {
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ring .ring .brand_ring .round_one {
  background: linear-gradient(108.3deg, #fdf9fa 7.99%, rgba(204, 240, 235, 0.25) 58.21%);
  height: 430px;
  width: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 2px 2px 40px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 2px 40px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 40px 2px rgba(0, 0, 0, 0.15);
}
#ring .ring .brand_ring .round_one .round_two {
  background: linear-gradient(108.3deg, #fdf9fa 7.99%, rgba(204, 240, 235, 0.25) 58.21%);
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 2px 2px 40px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 2px 40px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 40px 2px rgba(0, 0, 0, 0.15);
}
#ring .ring .brand_ring .round_one .round_two .round_three {
  background: #f1ffff;
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px dashed #707070;
  position: relative;
}
#ring .ring .brand_ring .round_one .round_two .round_three picture {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ring .ring .brand_ring .round_one .round_two .round_three picture img {
  height: 50%;
  width: 50%;
}
#ring .ring .brand_ring .round_one .round_two .round_three .role {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -65px;
  left: 50%;
  background: #ffffff;
  padding: 5px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
#ring .ring .brand_ring .round_one .round_two .round_three .role img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#ring .ring .brand_ring .round_one .round_two .round_three .role h5 {
  font-size: 14px;
  margin-left: 5px;
  font-weight: 500;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 5px;
  color: #101010;
}
#ring .ring .brand_ring .round_one .round_two .round_three .role:nth-child(2) {
  top: 50%;
  left: -165px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#ring .ring .brand_ring .round_one .round_two .round_three .role:nth-child(3) {
  top: 50%;
  left: 195px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#ring .ring .brand_ring .round_one .round_two .round_three .role:nth-child(4) {
  top: 210px;
  left: 210px;
}
#ring .ring .brand_ring .round_one .round_two .round_three .role:nth-child(5) {
  top: 210px;
  left: -20px;
}
#ring .ring .brand_ring .round_one .round_two .round_three .role:nth-child(6) {
  top: 70px;
  left: -90px;
}
#ring .ring .brand_ring .round_one .round_two .round_three .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 1px;
  width: 1px;
  background: none;
  animation: circle 35s linear infinite;
  -webkit-animation: circle 35s linear infinite;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 99;
}
#ring .ring .brand_ring .round_one .round_two .round_three .circle .round_icon {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 250px;
  margin-top: 0px;
  z-index: 999;
  background: #d9d9d9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: rotate 35s linear infinite;
  -webkit-animation: rotate 35s linear infinite;
}
#ring .ring .brand_ring .round_one .round_two .round_three .circle .round_icon img {
  width: 30px;
  height: 30px;
}
#ring .ring .brand_ring .round_one .round_two .round_three .circle .round_icon:nth-child(2) {
  margin-left: 220px;
  margin-top: 105px;
}
#ring .ring .brand_ring .round_one .round_two .round_three .circle .round_icon:nth-child(3) {
  margin-left: 160px;
  margin-top: 185px;
}
#ring .ring .brand_ring .round_one .round_two .round_three .circle .round_icon:nth-child(4) {
  margin-left: 70px;
  margin-top: 235px;
}
#ring .ring .brand_ring .round_one .round_two .round_three .circle .round_icon:nth-child(5) {
  margin-left: -30px;
  margin-top: 255px;
}

@-webkit-keyframes circle {
  from {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
    -moz-transform: rotate(0deg) translate(-50%, -50%);
    -ms-transform: rotate(0deg) translate(-50%, -50%);
    -o-transform: rotate(0deg) translate(-50%, -50%);
  }
  to {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(360deg) translate(-50%, -50%);
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
    -moz-transform: rotate(360deg) translate(-50%, -50%);
    -ms-transform: rotate(360deg) translate(-50%, -50%);
    -o-transform: rotate(360deg) translate(-50%, -50%);
  }
}

@keyframes circle {
  from {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
    -moz-transform: rotate(0deg) translate(-50%, -50%);
    -ms-transform: rotate(0deg) translate(-50%, -50%);
    -o-transform: rotate(0deg) translate(-50%, -50%);
  }
  to {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(360deg) translate(-50%, -50%);
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
    -moz-transform: rotate(360deg) translate(-50%, -50%);
    -ms-transform: rotate(360deg) translate(-50%, -50%);
    -o-transform: rotate(360deg) translate(-50%, -50%);
  }
}
@-webkit-keyframes rotate {
  from {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
@keyframes rotate {
  from {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
.items {
  display: grid;
  grid-template-columns: 22px auto;
  grid-column-gap: 15px;
  overflow: hidden;
}
.items .items_left {
  height: 100%;
  text-align: center;
}
.items .items_left span {
  opacity: 0.5;
  margin-top: 5px;
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #00baab;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
}
.items .items_left span .dot {
  height: 4px;
  width: 4px;
  top: 45px;
  left: 3px;
  position: absolute;
  z-index: 999;
  background: #00baab;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
}
.items .items_left span .dot:nth-child(2) {
  top: 65px;
  opacity: 0.65;
}
.items .items_left span .dot:nth-child(3) {
  top: 85px;
  opacity: 0.65;
}
.items .items_left span .dot:nth-child(4) {
  top: 105px;
  opacity: 0.65;
}
.items .items_left span .dot:nth-child(5) {
  top: 125px;
  opacity: 0.65;
}
.items .items_left span .dot:nth-child(6) {
  top: 145px;
  opacity: 0.65;
}
.items .items_left span .dot:nth-child(7) {
  top: 165px;
  opacity: 0.65;
}
.items .items_left span .dot:nth-child(8) {
  top: 185px;
  opacity: 0.65;
}
.items .items_left span .dot:nth-child(9) {
  top: 205px;
  opacity: 0.65;
}
.items .items_left span::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 25px;
  height: 4px;
  width: 4px;
  background: #00baab;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
}
.items .items_left .active {
  background: #00baab;
  opacity: 1;
  border: 4px solid #ffffff;
  width: 18px;
  height: 18px;
}
.items .items_left .active::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 18px;
  width: 18px;
  background: none;
  border: 1px solid #00baab;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
}
.items .items_right {
  height: 100%;
}
.items .items_right h6 {
  font-size: 18px;
  margin-top: -2px;
  font-weight: 700;
  cursor: pointer;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
}
.items .items_right h6:hover {
  color: #02b0a2 !important;
}
.items .items_right .rigth_text p {
  margin-top: 0px;
}
.items .items_right .rigth_text a {
  margin-top: 20px;
  color: #00baab;
}
.items .items_right .rigth_text a:hover {
  text-decoration: underline;
}

.last_child:last-child {
  height: 30px !important;
}/*# sourceMappingURL=main.css.map */