#nifty_left {
  .head {
    margin-bottom: 30px;
    h1 {
      font-size: 35px;
      margin-bottom: 5px;
    }
    p {
      font-size: 17px;
      color: #020202;
    }
  }
  .items {
    .head_title {
      display: flex;
      align-items: center;
      .tab_marker {
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        span {
          width: 8px;
          height: 8px;
          display: inline-block;
          // background: #02b0a2;
          background: #00baab;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
      h6 {
        margin-left: 15px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        transition: all linear 0.2s;
        -webkit-transition: all linear 0.2s;
        -moz-transition: all linear 0.2s;
        -ms-transition: all linear 0.2s;
        -o-transition: all linear 0.2s;
        &:hover {
          color: #02b0a2;
        }
      }
    }
    .items_text {
      height: 170px;
      margin-top: 10px;
      p {
        margin-left: 33px;
        margin-top: 5px;
      }
      a {
        margin-left: 33px;
        margin-top: 20px;
        color: #00baab;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
