#ring {
  .ring {
    height: 560px;
    width: 560px;
    background: none;
    border: 1px dashed #303030;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    .brand_ring {
      width: 100%;
      height: 100%;
      background: none;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .round_one {
        background: linear-gradient(108.3deg, #fdf9fa 7.99%, rgba(204, 240, 235, 0.25) 58.21%);
        height: 430px;
        width: 430px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        box-shadow: 2px 2px 40px 2px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 2px 2px 40px 2px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 2px 2px 40px 2px rgba(0, 0, 0, 0.15);

        .round_two {
          background: linear-gradient(108.3deg, #fdf9fa 7.99%, rgba(204, 240, 235, 0.25) 58.21%);
          height: 300px;
          width: 300px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          box-shadow: 2px 2px 40px 2px rgba(0, 0, 0, 0.15);
          -webkit-box-shadow: 2px 2px 40px 2px rgba(0, 0, 0, 0.15);
          -moz-box-shadow: 2px 2px 40px 2px rgba(0, 0, 0, 0.15);

          .round_three {
            background: #f1ffff;
            height: 180px;
            width: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: 1px dashed #707070;
            position: relative;
            picture {
              height: 100%;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                height: 50%;
                width: 50%;
              }
            }

            .role {
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: -65px;
              left: 50%;
              background: #ffffff;
              padding: 5px;
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              border-radius: 50px;
              -webkit-border-radius: 50px;
              -moz-border-radius: 50px;
              -ms-border-radius: 50px;
              -o-border-radius: 50px;
              img {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
              }
              h5 {
                font-size: 14px;
                margin-left: 5px;
                font-weight: 500;
                width: max-content;
                margin-right: 5px;
                color: #101010;
              }
            }

            .role:nth-child(2) {
              top: 50%;
              left: -165px;
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
            }

            .role:nth-child(3) {
              top: 50%;
              left: 195px;
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
            }

            .role:nth-child(4) {
              top: 210px;
              left: 210px;
            }

            .role:nth-child(5) {
              top: 210px;
              left: -20px;
            }

            .role:nth-child(6) {
              top: 70px;
              left: -90px;
            }

            .circle {
              position: absolute;
              left: 50%;
              top: 50%;
              height: 1px;
              width: 1px;
              background: none;
              animation: circle 35s linear infinite;
              -webkit-animation: circle 35s linear infinite;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              z-index: 99;

              .round_icon {
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                margin-left: 250px;
                margin-top: 0px;
                z-index: 999;
                background: #d9d9d9;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                img {
                  width: 30px;
                  height: 30px;
                }
                animation: rotate 35s linear infinite;
                -webkit-animation: rotate 35s linear infinite;
              }

              .round_icon:nth-child(2) {
                margin-left: 220px;
                margin-top: 105px;
              }

              .round_icon:nth-child(3) {
                margin-left: 160px;
                margin-top: 185px;
              }

              .round_icon:nth-child(4) {
                margin-left: 70px;
                margin-top: 235px;
              }

              .round_icon:nth-child(5) {
                margin-left: -30px;
                margin-top: 255px;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes circle {
  from {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
    -moz-transform: rotate(0deg) translate(-50%, -50%);
    -ms-transform: rotate(0deg) translate(-50%, -50%);
    -o-transform: rotate(0deg) translate(-50%, -50%);
  }

  to {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(360deg) translate(-50%, -50%);
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
    -moz-transform: rotate(360deg) translate(-50%, -50%);
    -ms-transform: rotate(360deg) translate(-50%, -50%);
    -o-transform: rotate(360deg) translate(-50%, -50%);
  }
}

@keyframes rotate {
  from {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
